@use 'colors' as colors;

* {
  box-sizing: border-box;
}

html {
  background-color: colors.$bg;
  font-family: 'Lato', 'Noto Sans SC', sans-serif;
  min-width: 210mm;
  max-width: 210mm;
  margin: 0 auto;
}

body {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}
